<div class="maincontent">
  <article class="article">
    <h1 class="article-title">我们是谁?</h1>
      <div class="text-center">
      <p>听君一席话，胜读十年书</p>
      <p>一席是一个独立媒体</p>
      <p>2012年成立于北京，制作了【一席】和【枝桠】两档节目</p>
      <p>一席现场演讲，目前在北京、上海、深圳、武汉、香港、台北等城市举办</p>
      </div>
  </article><!-- article -->

  <article class="article">
    <h1 class="article-title">关注我们!</h1>
    <p>如果您想持续关注最新的演讲动态,您可关注 <a href="http://weibo.com/yixiclub">新浪微博</a>，和我们的 <a href="http://www.youku.com/u/UNDg0NTA2OTY0/videos">优酷</a>。 如果您是海外用户, 您还可以关注我们 <a href="https://www.facebook.com/pages/%E4%B8%80%E5%B8%AD/510008329046931">Facebook</a>.</p>
  </article><!-- article -->


  
  <% include others.ejs %>
</div>
