<article class="sidebar">
  <h1 class="sidebar-title">谁能参加?</h1>
  <ul class="sidebar-body">
      <li>只要您对文化，科技，创意感兴趣就可以参加</li>
      <li>欢迎艺术家，学者，创业者等各领域达人来与我们分享您的见解</li>
      <li>如果您只是想来参加聚会，交朋友我们也非常欢迎</li>
  </ul>
</article><!-- article -->
